<mat-card class="pt-1 pb-1 pl-2 pr-2">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-card-title>{{estateItem.propertyName}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{estateItem.img}} alt="Image">
  <mat-card-content>
    <h3>Email: {{estateItem.contact.email}}</h3>
    <h5>Tel: {{estateItem.contact.tel | phoneIntlPrexix: estateItem.location}}</h5>
    <p>{{estateItem.description}}</p>
    <span>{{estateItem.location}}</span>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-flat-button>Cancel</button>
    <button mat-flat-button>Request info</button>
  </mat-card-actions>
</mat-card>