body {
  height: 100%;
  background-color: #f2f2f2;
}

.page {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.app-header{
  background-color: white;
  padding: 0.75rem 2rem;
  width: 100%;
  z-index: 2;
  height: 50px;
}

.app-content{
  width: 100%;
  overflow: auto;
  padding: 2rem;
}

.app-inner-content {
  max-width: 90%;
  padding-top: 2rem;
}

.d-flex{
  display: flex;
}

.-block{
  display: block;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.col{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.pt-1{
  padding-top: 1rem;
}

.pb-1{
  padding-bottom: 1rem;
}

.pr-2{
  padding-right: 2rem;
}

.pl-2{
  padding-left: 2rem;
}
