.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.7175em) scale(1);
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  letter-spacing: 0.025rem;
  line-height: 1.34;

  font: {
    size: 0.75rem;
    weight: 600;
  }

  mat-label {
    background: white;

    &::after {
      background: white;
      content: '';
      display: inline-block;
      width: 0.25rem;
    }
  }
}